<h2>ReadNest</h2>

<div class="bookshelf">
  <div
    class="book"
    *ngFor="let book of books"
    [routerLink]="['/book', book.id]"
    title="{{ book.title }}"
  >
    <img
      *ngIf="book.coverUrl"
      [src]="book.coverUrl"
      [alt]="book.title"
      [style.filter]="book.readingStatus === 'Unread' ? 'grayscale(100%)' : 'none'"
    />
    <div class="book-title">{{ book.title }}</div>
  </div>
</div>
<a [routerLink]="['/add']" class="floating-add-button" title="Add a new book">
  ➕
</a>
