.readnest-logo {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  color: #4B2E2E; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin: 1rem;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2rem 2.5rem;
  padding: 2rem;
  background-color: #9c7b56; 
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.book {
  width: 120px;
  background-color: rgba(230, 213, 193, 0.93);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}
.book:hover {
  transform: scale(1.03);
}

.book img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  display: block;
}

.book-title {
  font-size: 0.85rem;
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  margin-top: 0.5rem;
}

.floating-add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #debb94;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

.floating-add-button:hover {
  transform: scale(1.1);
}

.floating-add-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  padding-bottom: 16px;
  padding-left: 3px;
}
.sort-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 2rem 1rem;
}

.sort-bar select {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}